.About {
  width: 100%;
  background-image: linear-gradient(
    295deg,
    hsl(196deg 22% 20%) 0%,
    hsl(196deg 21% 18%) 0%,
    hsl(196deg 19% 15%) 0%,
    hsl(195deg 18% 13%) 2%,
    hsl(200deg 16% 11%) 5%,
    hsl(190deg 14% 8%) 9%,
    hsl(195deg 13% 6%) 15%,
    hsl(200deg 12% 5%) 23%,
    hsl(180deg 10% 4%) 34%,
    hsl(210deg 13% 3%) 49%,
    hsl(210deg 20% 2%) 66%,
    hsl(180deg 20% 1%) 84%,
    hsl(0deg 0% 0%) 100%
  );
  .aboutNameSection {
    display: flex;
    align-items: center;
    .aboutName {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 40px;
      }
    }
  }
  .aboutAguila,
  .aboutMoonoz {
    z-index: -1;
    position: fixed;
  }
  .aboutMoonoz {
    width: 65%;
    height: auto;
    bottom: 0;
    right: -10%;
    opacity: var(--bk-img-opacity);
  }
  .aboutAguila {
    margin-left: -15%;
    bottom: -40%;
    left: 0;
    width: 80%;
    height: auto;
    opacity: 25%;
    transform: rotate(-5deg);
  }
}

@media only screen and (max-width: 600px) {
  .About {
    .aboutMoonoz {
      width: 100%;
      bottom: 0px;
      right: -30%;
    }
    .aboutAguila {
      margin-left: -40%;
      transform: rotate(30deg);
      width: 120%;
      bottom: 0;
    }
  }
}
