
.Contact{
    .form-control{
        background-color: transparent;
        border: 3px solid #000000;
        color: #000000;
    }

    .form-button{
        // button{
        //     background-color: transparent;
        //     border: 3px solid #000000;
        //     color: #000000;
        // }
        // button:hover{
        //     color: #ffffff;
        //     background-color: #000000;
        // }

    }
}