.Home {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    295deg,
    hsl(196deg 22% 20%) 0%,
    hsl(196deg 21% 18%) 0%,
    hsl(196deg 19% 15%) 0%,
    hsl(195deg 18% 13%) 2%,
    hsl(200deg 16% 11%) 5%,
    hsl(190deg 14% 8%) 9%,
    hsl(195deg 13% 6%) 15%,
    hsl(200deg 12% 5%) 23%,
    hsl(180deg 10% 4%) 34%,
    hsl(210deg 13% 3%) 49%,
    hsl(210deg 20% 2%) 66%,
    hsl(180deg 20% 1%) 84%,
    hsl(0deg 0% 0%) 100%
  );
  // background: linear-gradient(285deg, #232a2e, #1d2326, #181c1e, #121517, #0a0c0d, #000000);
  
  .heroTitle {
    display: flex;
    align-items: center;
    color: var(--white-text);
    justify-content: center;
    overflow: hidden;
    font-family: "proxima";

    h1 {
      font-weight: 900;
      text-transform: uppercase;
    }

    h1 {
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
    }
  }
  .homeUnderTitleText,
  .homeUnderTitleText2,
  .heroMe {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .heroDesc,
  .col-lg-1 {
    // z-index: 1;
    display: flex !important;
    flex-direction: row !important;
    gap: 30px;
    br {
      display: none;
    }
    p {
      font-size: 24px;
      width: 90%;
      margin-bottom: 1.5rem;
    }
    span {
      font-style: italic;
    }
    .homeUnderTitleText {
      div {
        overflow: hidden;
      }
    }
    .homeUnderTitleText2 {
      display: flex;
      flex-direction: column;
      font-style: italic;
      div {
        overflow: hidden;
        div {
          padding-right: 2px;
        }
      }
    }
  }

  .heroMe {
    position: fixed;
    bottom: 0;
    opacity: var(--bk-img-opacity);
    height: auto;
    z-index: .5;
  }
  .homeDesc {
    div {
      font-weight: 100;
    }
  }
}

@media only screen and (max-width: 499px) {
  .Home {
    .heroTitle {
      padding-top: 35%;
      h1 {
        font-size: 85px;
      }
    }
  }
}
@media only screen and (min-width: 500px) {
  .Home {
    .heroTitle {
      h1 {
        font-size: 90px;
      }
    }
  }
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 663px) {
  .Home {
    .heroTitle {
      h1 {
        font-size: 130px;
      }
    }
    .heroMe {
      left: 50px;
      width: 80%;
    }
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .Home {
    .heroTitle {
      h1 {
        font-size: 150px;
      }
    }
    .heroMe {
      left: 15%;
      width: 70%;
    }
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 992px) {
  .Home {
    .heroTitle {
      h1 {
        font-size: 180px;
      }
    }
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1200px) {
  .Home {
    .heroTitle {
      h1 {
        font-size: 250px !important;
      }
    }
    .heroMe {
      left: 25%;
      width: 55%;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .heroMe {
    left: 25% !important;
    width: 50% !important;
  }
}
