.Home {
  .heroTitle {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 35px 0;

    p {
      transform: rotate(-90deg);
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 0;
    }
    span {
      font-size: 100px;
      font-weight: 900;
      text-transform: uppercase;
      //   font-family: 'western';
    }
  }

  .heroDesc {
    display: flex;
    // justify-content: flex-end;
    br {
      display: none;
    }
    p {
      font-size: 24px;
      width: 90%;
    }
    span {
      font-style: italic;
    }
  }

  .heroMe {
    position: fixed;
    right: 0;
    bottom: -15%;
    width: 40%;
    height: auto;
    opacity: var(--bk-img-opacity);
    z-index: -1;
  }
 

  .aboutPhoto {
    padding: 5px;
    border-width: 2px;
    border-color: black;

    img {
      width: 40%;
      border-radius: 5px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .Home {
    .heroTitle {
      p {
        display: none;
      }
    }

    .heroDesc {
      justify-content: flex-start;
      br {
        display: block;
      }
    }
    button {
      margin-left: 0;
    }

    .heroMe {
      position: fixed;
      right: -20%;
      bottom: -20%;
      width: 80%;
      height: auto;
    }
  }
}
