.navBar {
  display: flex;
  justify-content: flex-end;


  .navRight {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .nav{
      a{
        color: var(--text-color);
        font-weight: 500;
        opacity: 80%;
        svg {
          width: 25px;
          height: auto;
          // margin-bottom: 10px;
        }
      }
      a:hover{
        opacity: 100%;
      }
     
    }


  }
}
