.navbar {

  .navLogo {
    a {
      visibility: hidden;
      font-family: "western";
      font-size: 400;
    }
  }

  .navbar-collapse {
    .navRight {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      .collapse .show {
        justify-content: flex-end;
      }
      .navbar-nav {
        .nav-link {
          color: var(--text-color);
          font-size: 22px;
          font-weight: 500;
          opacity: 80%;

          svg {
            width: 35px;
            height: auto;
            // margin-bottom: 10px;
          }

          &:active,
          &:hover {
            opacity: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .navBar {
    justify-content: space-between;

    .navLogo {
      display: flex;
      align-items: center;

      font-size: 30px;
      a {
        visibility: visible !important;
      }
    }
  }
}
