.headerMotion {
  position: relative;
  display: block;
  white-space: nowrap;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 4;
  // padding: 10px 0;
  overflow: hidden;
  font-size: 50px;
  a{
    &:hover {
      color: var(--white-text);
      text-decoration: none;
    }
  }

  .firstSet {
    display: inline-block;
    span {
      display: inline-block;
      height: 50px;
      padding: 5px 0;
    }
  }

  .secondSet {
    position: absolute;
    inset: 0;
    span {
      display: inline-block;
      padding-top: 5px;
    }
  }
}

@media only screen and (max-width: 600px) {
}
