@font-face {
  font-family: "western";
  src: url("./Font/opera-western.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400&family=Lato:wght@300;400;700&family=Oswald:wght@200;300;400;500;600&display=swap");

:root {
  // height: 100vh;
  cursor: none;
  --text-color: rbg(0, 0, 0);
}
body {
  background-color: rgb(209, 211, 164);
  font-family: "Oswald", sans-serif;
}

.Home,
.About,
.Contact,
.Projects {
  // height: 94vh;
  // width: 100%;
  margin: auto;
  overflow: clip;
  transition: ease 1s;
  padding-top: 15%;
}

.bottomTitle {
  padding-bottom: -10px !important;
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 220px;
  font-weight: 400;
  letter-spacing: 10px;
  opacity: 0.8;
  text-transform: uppercase;
  font-family: "western";
  // font-stretch: expanded;
  height: 225px !important;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.buttonCustom {
  background-color: transparent;
  border: 3px solid #000000;
  color: #000000;
}
.buttonCustom:hover {
  color: #ffffff;
  background-color: #000000;
}

@media screen and (max-width: 600px) {
  .bottomTitle {
    padding-bottom: 20px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 5px;
    top: 5%;
    right: 0px;
  }
}
