@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "western";
  src: url("./Font/opera-western.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400&family=Lato:wght@300;400;700&family=Oswald:wght@200;300;400;500;600&display=swap");

:root {
  --blk-color: rgb(33, 37, 41);
  --bk-img-opacity: 1;
  --white-text: #ffffff;
  --light-white: #ffffff70;
}

body {
  // background-color: rgb(209, 211, 164);
  background-image: radial-gradient(
    ellipse 838.6183260797113px 922.1258796452096px at 1259.9999775919036px
      792.000069252597px,
    #28393fcc 0%,
    #0d1011f2 61%,
    #000f 100%
  );
  background-position: right bottom !important;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
  font-family: "Oswald", sans-serif !important;
  color: var(--white-text);
}

.Home,
.About,
.Contact,
.Project,
.MoonozPage,
.Error {
  // height: 94vh;
  // width: 100%;
  margin: auto;
  overflow: clip;
  transition: ease 1s;
  padding-top: 15%;
}

.aboutPhoto,
.aboutMoonoz,
.bottomTitle,
.aboutAguila {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.buttonCustom {
  background-color: transparent;
  border: 3px solid rgb(33, 37, 41);
  color: var(--blk-color);
  &:hover {
    color: #ffffff;
    background-color: rgb(33, 37, 41);
    border: 3px solid rgb(33, 37, 41);
  }
}

@media screen and (max-width: 600px) {
  .bottomTitle {
    padding-bottom: 20px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 5px;
    top: 5%;
    right: 0px;
  }
}
